{%- extends 'base/htmleton.njk' -%}
{%- block head -%}
<title>Volunteer Central{%- if title -%}: {{ title }}{%- endif -%}</title>
{%- endblock -%}
{%- block body -%}

<header>
    <h1><a href="/">Volunteer Central</a></h1>
    
    <nav aria-label="Top-level navigation">
        <ul>
        {%- if accessLevel == 'public' -%}
            <li><a href='/login'>Login</a></li>
        {%- else -%}
            {%- if accessLevel == 'admin' -%}
            {# save room for special top-level nav admin links #}
            {%- endif -%}
            <li><a href='/users/dashboard'>Dashboard</a></li>
            <li>
                <form method="POST" action="/logout">
                    <input type="submit" name="submit" value="Logout"/>
                </form>
            </li>
        {%- endif -%}
        </ul>
    </nav>
    
</header>
{%- block content -%}
{%- endblock -%}
<footer>
<span>© 2020 <a href="http://werock.la">Rock n' Roll Camp for Girls Los Angeles</a></span>
</footer>

<script type="text/javascript">

    window.addEventListener("load", () => {
        const params = new URLSearchParams(window.location.search);  
        let header = document.querySelector("header");
        if (params.has("error")) {
            /*let elm = document.createElement("p");
            elm.classList.add("alert");
            elm.textContent = params.get("error");
            elm.style.display = "block";
            header.prepend(elm);*/
        }
        else if (params.has("message")) {
            let elm = document.createElement("p");
            elm.classList.add("alert");
            elm.textContent = params.get("message");
            elm.style.display = "block";
            header.prepend(elm);
        }
    });
  
</script>

{%- endblock -%}
