PORT=8000

DB_USER=rcglavc_app_role
DB_PASSWORD=itsasecret
DB_HOST=localhost
DB_NAME=rcglavctest

DB_DEFAULT_ROLE=rcglavc_public_role
DB_SCHEMAS=rcglavc
JWT_SECRET=thesecret
JWT_PG_TYPE_IDENTIFIER=rcglavc.jwt_token
