{%- extends 'base/base.html' -%}
{%- set landing=true -%}
{%- set title='Home'-%}
{%- block content -%}


<p>Welcome to the volunteer and camper portal for <a href="http://werock.la">Rock n' Roll Camp for Girls Los Angeles!</a></p>

{%- if accessLevel == 'public' -%}
<p><a href="/login">Login</a> to get started.</p>
{%- else -%}
<p>Go to your <a href="/user/dashboard">dashboard</a> to get started.</p>
{%- endif -%}

<img src="/images/rcgla.jpg" alt="Rock n' Roll Camp for Girls LA logo">

{%- endblock -%}