{%- extends 'base/base.njk' -%}
{%- set landing=true -%}
{%- set title='Home'-%}
{%- block content -%}

<main>
    <p>Welcome to the volunteer and camper portal for <a href="https://werock.la">Rock n' Roll Camp for Girls Los Angeles!</a></p>

    {%- if accessLevel != 'public' -%}
    <p>Go to your <a href="/users/dashboard">dashboard</a> to get started.</p>
    {%- endif -%}

    <img src="/images/rcgla.jpg" alt="Rock n' Roll Camp for Girls LA logo">
</main>

{%- endblock -%}