:root {
    --mediumblue: #005a9c;
    --blue: #006ec6;
    --darkblue: #036;
    --lightgray: #eee;
    --campblue: #4abcd3;
    --campred: #e3504f;
    --lightcampred: #fceded;
    --lightcampblue: #c9ebf2;
}
