{%- extends 'base/base.njk' -%}
{%- set title = "Event profile" -%}
{%- block content -%}

<main>
    <h2>Event profile</h2>
    <ul>
        <li>Name: {{ event.name }}</li>
        <li>Event Type: {{ event.eventType.name }}</li>
        <li>Description: {{ event.description }} </li>
        <li>Start Date: {{ event.start }}</li>
        <li>End Date: {{ event.end }}</li>
    </ul>
    
    <table style="border:1px solid black;">
        <tr>
        <th style="border:1px solid black;">Activity Name</th>
        <th style="border:1px solid black;">Start Date</th>
        <th style="border:1px solid black;">End Date</th>
        </tr>
        {%- for activity in event.activities -%}
        <tr>
            <td style="border:1px solid black;">{{activity.name}}</td>
            <td style="border:1px solid black;">{{activity.start}}</td>
            <td style="border:1px solid black;">{{activity.end}}</td>
        </tr>
        {%- endfor -%}
    </table>

</main>

{%- endblock -%}