{%- extends '../base/base.njk' -%}
{%- set title = "Admin" -%}

{%- block content -%}
<pre>
    TODO

    Add these admin actions:

    - add a session
    - edit session details
    - edit roles
    - edit schedule for events outside of sessions, within the current camp year
    - view and edit waiver status for the current camp year
    - view and edit tuition status for the current camp year
    - view and edit pickup permissions for the current camp year
</pre>

    <h1>Admin pages</h1>
    <h2>Sessions</h2>
    <ul>
        {%- for session in sessions -%}
        <li><a href=/admin/sessions/{{session.id}}>{{session.name}}</a></li>
        {%- endfor -%}
    </ul>
    <h2>Settings</h2>
    <a href="/admin/settings">View settings</a>
{%- endblock -%}