{%- extends '../base/base.html' -%}
{%- set title = "Admin: " + pagetitle -%}
{%- block content -%}


<pre>
    TODO: 

    Add these admin actions:

    - sort table
    - filter by:
        - role
        - role group
        - day of the week
    - show schedule info per person - e.g. something like
        - M W F means all day Mon, Weds, Fri
        - M* W F* means part-time Mon and Fri, all day Weds
        - when zoomed in to a day of the week instead of whole week, show detailed schedule information
    - add column: confirmed
    - mark someone as dropped
    - edit someone's profile
    - fast way to assign profile photos, one after the other
    - view carpool possibilities based on address (see offline-central example)
    
</pre>

<h1>{{ pagetitle }}</h1>

<table summary="User information" class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Photo</th>
            <th>Roles</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Bio</th>

        </tr>
    </thead>
    <tbody>
        {%- for user in users -%}
        <tr>
            <td>{{ user.name }}</td>
            <td><img src="{{ user.photoUrl }}" alt="Profile picture" class="thumbnail"></td>
            <td>
                <ul>
                    {%- for n in user.participationsByUserId.nodes -%}
                    <li>{{n.role.name}}</li>
                    {%- endfor -%}
                </ul>
            </td>
            <td>{{ user.login.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.phone }}</td>
            <td class="bio">{{ user.bio }}</td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>

{%- endblock -%}

